name: 'Upload Episode from YouTube To Spotify'
on:
  push:
    paths:
      - episode.json
    branches: [main]

jobs:
  upload_episode:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      
      # استخدام طريقة الـ Pipe | لضمان كتابة الأسطر المتعددة بشكل صحيح
      - name: Create Cookies File
        run: |
          cat <<EOF > cookies.txt
          ${{ secrets.YT_COOKIES }}
          EOF

      - name: Upload Episode from YouTube To Spotify
        uses: Schroedinger-Hat/youtube-to-spotify@v2.6.0
        env:
          SPOTIFY_EMAIL: ${{ secrets.SPOTIFY_EMAIL }}
          SPOTIFY_PASSWORD: ${{ secrets.SPOTIFY_PASSWORD }}
          SPOTIFY_LOGIN: false
          SAVE_AS_DRAFT: true
          # إجبار الأداة على استخدام الكوكيز في كل العمليات عبر الـ POSTPROCESSOR
          POSTPROCESSOR_ARGS: '--cookies /github/workspace/cookies.txt'
          EPISODE_PATH: /github/workspace
          # تحديث الـ User Agent ليتطابق مع متصفحك
          USER_AGENT: "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/131.0.0.0 Safari/537.36"
