name: 'Upload: دروس نافعة علمية وتربوية'
on:
  push:
    paths:
      - episode.json
    branches: [main]

jobs:
  upload_episode:
    runs-on: self-hosted # إخبار جيت هب باستخدام جهازك MyBravePC
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2

      - name: Execute Python Uploader
        run: python uploader.py # تشغيل الكود مباشرة على نظام ويندوز عندك
